.loginBox{
    position: relative;
    width: 30%;
    height: 70vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:0 auto;
    overflow: hidden;
}
.loginWithEmail{
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.648);
    background-color: white;
    padding: 2em 2rem;
    width: 75%;
    height: 75%;
}
.loginMsg{
    text-align: center;
}
.emailAndButton1{
    display: flex;
}
.emailAndButton1 button{
    height: 50%;
    margin-left:10px;
    border: none;
    background-color: green;
    border-radius: 5px;
    color:white;
}
.inputText{
    width: 100%;
}
.inputText input{
    border-radius: 5px;
    border: none;
    height: 2rem;
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.211);
}
.changeButton{
    margin-top: 1rem;
    background-color: #4e78ff;
    border:none;
    border-radius: 5px;
    padding: 0.8rem 2rem;
    color:white;
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.211);
}
.changeButton:hover{
    background-color:  #ec4f4f;
}
#errors{
    display: none;
    margin-top: 10px;
    border:2px solid #ff0000;
    text-align: center;
    background-color: #ec4f4f;
    border-radius: 5px;
    color:white;
    height: 40px;
}
#showOTP{
    position: absolute;
    right:80px;
}
.userTypeFp{
    padding: 1rem 2rem;
    background-color: #5a62ff;
    position: absolute;
    color: white;
    left: 39%;
    top: 10px;
    border-radius: 10px;
}
