.ManageTandU{
    display:flex;
}
.choose{
    padding:2rem 4rem;
    border-right: 2px solid rgb(220, 210, 210);
}
.choose ul{
    list-style: none;
    padding: 0;
}
.choose li{
    padding:1rem 0;
}
.choose a{
    color:rgb(0, 48, 119);
    text-decoration: none;
}
  