
.cards{
    overflow: hidden;
    border-radius: 20px;
    padding:20px;
    height: 150px;
    color:rgb(0, 0, 0);
}
.cards:hover{
    transform: scale(1.1);
}
.ReviewTask{
    background-color: #f8cf2abd;
}
.ReviewTask Img{
    height: 35px;
    border-radius: 50%;
}