.AddTaskPopup{
    margin:1rem 2rem 1rem 1rem;
    border-radius: 15px;
    background-color: white;
    border:2px solid rgb(174, 174, 174);
    overflow: hidden;
    line-height: 2rem;
  }
  .newTask{
    background-color: #eff3fa;
    padding:0 2rem;
    display: flex;
    justify-content: space-between;
  }
  .titleDiv{
    display: flex;
  }
  .newTaskForm{
    padding: 2rem;
  }
  .crossBtn{
    display: none;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top:8.2rem;
    margin-left:0.5rem;
  }
.newTaskFormDiv{
    display: flex;
}
.unassignedUsers{
    width: 30%;
    padding:0 2rem;
    height: 90%;
  }
  .newTaskForm textarea{
    width:85%;
    height:100px;
    resize:none;
    border:none;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }
  .newTaskForm span{
    box-shadow: 2px 2px 4px rgba(107, 106, 106, 0.475);
    padding:2px 2rem;
    border-radius: 5px;
}
.savetaskDiv{
    display:flex;
  }
  .saveTaskBtns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
  }
  .saveTaskBtns button{
    padding:0.5rem 3rem;
    border-radius: 10px;
    border:none;
    background-color: #0185e0;
    color: white;;
  }
  .saveTaskBtns button:hover{
    background-color: #053254;
    cursor: pointer;
  }