.noTaskSelected{
  height: 65vh;
  width: 32.65vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .newTask{
    background-color: #eff3fa;
    padding:0 2rem;
    display: flex;
    justify-content: space-between;
  }
  .titleDiv{
    display: flex;
  }
  .newTaskForm{
    padding: 2rem;
    width:28.5vw;
  }
  .crossBtn{
    display: none;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    top:8.2rem;
    margin-left:0.5rem;
  }
.newTaskFormDiv{
    display: flex;
}
.unassignedUsers{
    width: 30%;
    height: 90%;
  }
  .formInput{
    border-bottom:1px solid gray;
    border-top: none;
    border-left:none;
    border-right:none ;
    height: 20px;
  }
  .formInput:focus{
    outline: none;
  }
  .newTaskForm textarea{
    width:85%;
    height:100px;
    resize:none;
    border:none;
    border-bottom: 1px solid gray;
    margin-bottom: 1rem;
  }
  .newTaskForm span{
    box-shadow: 2px 2px 4px rgba(107, 106, 106, 0.475);
    padding:2px 2rem;
    border-radius: 5px;
}
.chooseFile::file-selector-button {  
  box-shadow: 2px 2px 4px rgba(107, 106, 106, 0.475);
  font-weight: bold;
  color: dodgerblue;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
}
